*
{
	margin:0;
	padding:0;
}
body
{
	background-color:red;
	overflow:hidden;
}
.gameContainer
{
	background-image: url(background.jpg);
	background-repeat:no-repeat;
	background-size:100vw 100vh;
	width:100%;
	height:100vh;
}
.dino
{
	background-image:url(dino.png);
	background-repeat:no-repeat;
	background-size:cover;
	width:233px;
	height:214px;
	position:absolute;
	bottom:0;
	left:52px;
}
.gameBody
{
	width:206px;
	height:213px;
	background-image:url(gameBody.png);
	background-size:cover;
	position:absolute;
	bottom:0;
	left:44vw;
}
.animateDino
{
	animation: dino 0.6s linear;
}

.gameBodyAnimation
{
	animation: gameBodyAnimation 5s linear infinite;
}
#scoreCount
{
	position:absolute;
	font-weight:bold;
	right:45px;
	top:31px;
	border:1px solid black;
	padding:10px;
	font-family:sans-serif;
	color:crimson;
}
.gameOver
{
	position:relative;
	top:63px;
	font-size:63px;
	font-family:sans-serif;
	text-align:center;
	visibility:hidden;
	color:crimson;
}

@keyframes dino
{
	0%
	{
		bottom:0px;
	}
	50%
	{
		bottom:422px;
	}
	100%
	{
		bottom:0px;
	}
}
@keyframes gameBodyAnimation
{
	
	0%
	{
		left:100vw;
	}
	100%
	{
		left: -10vw;
	}
}